@model ProductOrdersViewModel

<table class="table">
    @foreach (var order in Model.Orders)
    {
        <tr>
            <td>@order.PurchaseDate</td>
            <td>@order.Manager.SecondName</td>
            <td>@order.Client.LastName</td>
            <td>@order.Product.Name</td>
            <td>@order.Amount</td>
            <td><a asp-controller="Managers" asp-action="EditOrder" asp-route-orderId="@order.Id" class="btn btn-outline-dark">Редактировать</a></td>
        </tr>
    }
</table>